@*@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>_ServiceStaffLayout</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>*@

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link rel="icon" type="image/png" href="@Url.Content("~/Content/Images/GalaxySportsIcon.png")" />
    <script src="../../Scripts/jquery-1.7.1.min.js"></script>
    <script src="../../Scripts/jquery.slidertron-1.1.js"></script>
</head>

<body>
    <div id="wrapper">
        <div id="header-wrapper">
            <div id="header">
                <div id="logo">
                    <h1>@Html.ActionLink("Sushi Vesla", "Index", "ServiceStaff")</h1>
                    <p>Service Staff part</p>
                </div>
            </div>
        </div>
        <!-- end #header -->
        <div id="page">
            <div id="page-bgtop">
                <div id="page-bgbtm">
                    <div id="sidebar">
                        <ul>
                            <li>
                                @*<div id="search">
                                    <form method="get" action="#">
                                        <div>
                                            <input type="text" name="s" id="search-text" value="" />
                                            <input type="submit" id="search-submit" value="GO" />
                                            @using (Html.BeginForm("List", "Product"))
                                            {
                                                <input type="text" name="TextForSearch" id="search-text" />
                                                <input type="submit" id="search-submit" value="GO" />
                                            }
                                        </div>
                                    </form>
                                </div>*@
                                <div style="clear: both;">&nbsp;</div>
                            </li>
                            <li>
                                <h2>@Html.ActionLink("Home", "Index", "Home")</h2>
                            </li>
                            <li>
                                <h2>Orders</h2>
                                <ul>
                                    <li>@Html.ActionLink("All orders", "Index", "ServiceStaff")</li>
                                    <li>@Html.ActionLink("My queue", "MyQueue", "ServiceStaff")</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- end #sidebar -->
                    <div id="content">
                        @RenderBody()
                        <div style="clear: both;">&nbsp;</div>
                    </div>
                    <!-- end #content -->
                    <div style="clear: both;">&nbsp;</div>
                </div>
            </div>
        </div>
        <!-- end #page -->
    </div>
    <div id="footer">
        <p>Copyright © 2013 RDT Software Solutions. All rights reserved.</p>
    </div>
    <!-- end #footer -->
</body>
</html>

